{
  "log": {
    "_recordingName": "API key utils/checkAdyenApiKey/checks if API key is merchant scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7153104c24c4b8525437dc6253c042b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 875,
            "text": {
              "_links": {
                "allowedOrigins": {
                  "href": "https://management-test.adyen.com/v1/me/allowedOrigins"
                },
                "self": {
                  "href": "https://management-test.adyen.com/v1/me"
                }
              },
              "active": true,
              "allowedIpAddresses": [],
              "clientKey": "test_OURYQM2KCVDSDKKS4J3YQHNRCIK777AP",
              "companyName": "Saleor",
              "description": "Adyen App - Merchant Test",
              "id": "S2-7F47756E2B3C26",
              "roles": [
                "Management API - Accounts read",
                "Management API - Webhooks read",
                "Management API - API credentials read and write",
                "Management API - Stores read",
                "Management API — Payment methods read",
                "Management API - Stores read and write",
                "Management API - Webhooks read and write",
                "Checkout encrypted cardholder data",
                "Merchant Recurring role",
                "Management API - Payout Account Settings Read",
                "Checkout webservice role",
                "Management API - Accounts read and write",
                "Merchant PAL Webservice role"
              ],
              "username": "ws_523005@Company.Saleor"
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "TZ2RR3DQ2NPRMC82"
            },
            {
              "name": "requestid",
              "value": "TZ2RR3DQ2NPRMC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137,
      },
      {
        "_id": "7a516c68a6d45aeead6c9cb885a12eb9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7F47756E2B3C26"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 63,
            "text": {
              "errorCode": "010",
              "requestId": "PCRNLCZHH8JSTC82",
              "status": 403
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "PCRNLCZHH8JSTC82"
            },
            {
              "name": "requestid",
              "value": "PCRNLCZHH8JSTC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 210,
      },
      {
        "_id": "9791786e9b326e16ca1a97b166083263",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/merchants"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1011,
            "text": {
              "_links": {
                "first": {
                  "href": "https://management-test.adyen.com/v1/merchants?pageNumber=1&pageSize=10"
                },
                "last": {
                  "href": "https://management-test.adyen.com/v1/merchants?pageNumber=1&pageSize=10"
                },
                "self": {
                  "href": "https://management-test.adyen.com/v1/merchants?pageNumber=1&pageSize=10"
                }
              },
              "data": [
                {
                  "_links": {
                    "apiCredentials": {
                      "href": "https://management-test.adyen.com/v1/merchants/SaleorECOM/apiCredentials"
                    },
                    "self": {
                      "href": "https://management-test.adyen.com/v1/merchants/SaleorECOM"
                    },
                    "users": {
                      "href": "https://management-test.adyen.com/v1/merchants/SaleorECOM/users"
                    },
                    "webhooks": {
                      "href": "https://management-test.adyen.com/v1/merchants/SaleorECOM/webhooks"
                    }
                  },
                  "captureDelay": "immediate",
                  "companyId": "Saleor",
                  "dataCenters": [
                    {
                      "livePrefix": "",
                      "name": "default"
                    }
                  ],
                  "defaultShopperInteraction": "Ecommerce",
                  "id": "SaleorECOM",
                  "merchantCity": "",
                  "name": "SaleorECOM",
                  "primarySettlementCurrency": "PLN",
                  "shopWebAddress": "https://www.adyen.com/",
                  "status": "Active"
                }
              ],
              "itemsTotal": 1,
              "pagesTotal": 1
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "F23RR3DQ2NPRMC82"
            },
            {
              "name": "requestid",
              "value": "F23RR3DQ2NPRMC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      },
  [...]
