{
  "log": {
    "_recordingName": "stripe-api/validateStripeKeys/should throw error if publishable key is invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "740cb060792366c95c70efe3e6fefb52",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.stripe.com/v1/payment_intents?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2160,
            "text": {
              "data": [
                {
                  "amount": 22299,
                  "amount_capturable": 0,
                  "amount_details": {
                    "tip": {}
                  },
                  "amount_received": 0,
                  "application": null,
                  "application_fee_amount": null,
                  "automatic_payment_methods": {
                    "allow_redirects": "always",
                    "enabled": true
                  },
                  "canceled_at": null,
                  "cancellation_reason": null,
                  "capture_method": "manual",
                  "client_secret": "pi_3OMtDLEosEcNBN5m11wpQjbx_secret_cUiIxYoObEAywmhr0vL1Tz9Vj",
                  "confirmation_method": "automatic",
                  "created": 1702476907,
                  "currency": "pln",
                  "customer": null,
                  "description": null,
                  "id": "pi_3OMtDLEosEcNBN5m11wpQjbx",
                  "invoice": null,
                  "last_payment_error": null,
                  "latest_charge": null,
                  "livemode": false,
                  "metadata": {
                    "channelId": "1",
                    "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                    "transactionId": "555555"
                  },
                  "next_action": null,
                  "object": "payment_intent",
                  "on_behalf_of": null,
                  "payment_method": null,
                  "payment_method_configuration_details": {
                    "id": "pmc_1LVZxMEosEcNBN5manO2iTW7",
                    "parent": null
                  },
                  "payment_method_options": {
                    "card": {
                      "installments": null,
                      "mandate_options": null,
                      "network": null,
                      "request_three_d_secure": "automatic"
                    },
                    "klarna": {
                      "preferred_locale": null
                    },
                    "link": {
                      "persistent_token": null
                    },
                    "paypal": {
                      "preferred_locale": null,
                      "reference": null
                    }
                  },
                  "payment_method_types": [
                    "card",
                    "link",
                    "klarna",
                    "paypal"
                  ],
                  "processing": null,
                  "receipt_email": null,
                  "review": null,
                  "setup_future_usage": null,
                  "shipping": null,
                  "source": null,
                  "statement_descriptor": null,
                  "statement_descriptor_suffix": null,
                  "status": "requires_payment_method",
                  "transfer_data": null,
                  "transfer_group": null
                }
              ],
              "has_more": true,
              "object": "list",
              "url": "/v1/payment_intents"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 530,
      },
      {
        "_id": "990365e93b996a79997b70fe3ca6c55e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-de7e2360-cf92-42c3-b03f-65c74d1f65bd"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "pii[id_number]=test"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": {
              "error": {
                "message": "Invalid API Key provided: blabla",
                "type": "invalid_request_error"
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Stripe\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 91,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
