{
  "log": {
    "_recordingName": "stripe-api/validateStripeKeys/should throw error if publishable key is invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f0b115a56f7869752bc33b5352ad87da",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.stripe.com/v1/payment_intents?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1691,
            "text": {
              "data": [
                {
                  "amount": 22299,
                  "amount_capturable": 0,
                  "amount_details": {
                    "tip": {}
                  },
                  "amount_received": 0,
                  "application": null,
                  "application_fee_amount": null,
                  "automatic_payment_methods": null,
                  "canceled_at": null,
                  "cancellation_reason": null,
                  "capture_method": "manual",
                  "client_secret": "pi_3NScK0EosEcNBN5m1WnZ213K_secret_gLHGnl6ElaTd98Hr0LphYoZvY",
                  "confirmation_method": "automatic",
                  "created": 1689065604,
                  "currency": "pln",
                  "customer": null,
                  "description": null,
                  "id": "pi_3NScK0EosEcNBN5m1WnZ213K",
                  "invoice": null,
                  "last_payment_error": null,
                  "latest_charge": null,
                  "livemode": false,
                  "metadata": {
                    "channelId": "1",
                    "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                    "transactionId": "555555"
                  },
                  "next_action": null,
                  "object": "payment_intent",
                  "on_behalf_of": null,
                  "payment_method": null,
                  "payment_method_options": {
                    "card": {
                      "installments": null,
                      "mandate_options": null,
                      "network": null,
                      "request_three_d_secure": "automatic"
                    }
                  },
                  "payment_method_types": [
                    "card"
                  ],
                  "processing": null,
                  "receipt_email": null,
                  "review": null,
                  "setup_future_usage": null,
                  "shipping": null,
                  "source": null,
                  "statement_descriptor": null,
                  "statement_descriptor_suffix": null,
                  "status": "requires_payment_method",
                  "transfer_data": null,
                  "transfer_group": null
                }
              ],
              "has_more": true,
              "object": "list",
              "url": "/v1/payment_intents"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 375,
      },
      {
        "_id": "b23fe4d7e025e7ba7f5d258d9e8f4b0b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "pii[id_number]=test"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": {
              "error": {
                "message": "Invalid API Key provided: blabla",
                "type": "invalid_request_error"
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Stripe\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
