{
  "log": {
    "_recordingName": "TransactionRefundRequestedWebhookHandler/'Mastercard (prepaid)' 'pm_card_mastercard_prepaid'/should request a refund in Stripe after a charge",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0559f51d3e2a063b1c72cb72e12bff39",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "amount=22299&currency=PLN&capture_method=automatic&metadata[transactionId]=555555&metadata[channelId]=1&metadata[checkoutId]=c29tZS1jaGVja291dC1pZA%3D%3D"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1378,
            "text": {
              "amount": 22299,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "confirmation_method": "automatic",
              "created": 1689003414,
              "currency": "pln",
              "customer": null,
              "description": null,
              "id": "pi_3NSM8wEosEcNBN5m1YsI2cvD",
              "invoice": null,
              "last_payment_error": null,
              "latest_charge": null,
              "livemode": false,
              "metadata": {
                "channelId": "1",
                "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                "transactionId": "555555"
              },
              "next_action": null,
              "object": "payment_intent",
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "79a22a7c-22b1-4502-b1ed-120268500b06"
            },
            {
              "name": "original-request",
              "value": "req_psJFVp7KJsyU95"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 310,
      },
      {
        "_id": "cbd4363a0dd8b0de6d64d5432ec380f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
[...]
