{
  "log": {
    "_recordingName": "stripe-api/validateStripeKeys/should throw error if secret key is invalid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3507fad97c69733ff47e2b0c461aa35c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.stripe.com/v1/payment_intents?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": {
              "error": {
                "message": "Invalid API Key provided: blabla",
                "type": "invalid_request_error"
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Bearer realm=\"Stripe\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
