{
  "log": {
    "_recordingName": "stripe-api/validateStripeKeys/not throw error if both keys are correct",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7bd441ed2f8c4ffc322f3906a8d74b42",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.stripe.com/v1/payment_intents?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1827,
            "text": {
              "data": [
                {
                  "amount": 22299,
                  "amount_capturable": 0,
                  "amount_details": {
                    "tip": {}
                  },
                  "amount_received": 0,
                  "application": null,
                  "application_fee_amount": null,
                  "automatic_payment_methods": {
                    "allow_redirects": "always",
                    "enabled": true
                  },
                  "canceled_at": null,
                  "cancellation_reason": null,
                  "capture_method": "automatic",
                  "client_secret": "pi_3NKgQdEosEcNBN5m0mRPtkaO_secret_BfW3ubNBjevc23pXb1D5IYMyd",
                  "confirmation_method": "automatic",
                  "created": 1687174767,
                  "currency": "pln",
                  "customer": null,
                  "description": null,
                  "id": "pi_3NKgQdEosEcNBN5m0mRPtkaO",
                  "invoice": null,
                  "last_payment_error": null,
                  "latest_charge": null,
                  "livemode": false,
                  "metadata": {
                    "channelId": "1",
                    "orderId": "c29tZS1jaGVja291dC1pZA==",
                    "transactionId": "555555"
                  },
                  "next_action": null,
                  "object": "payment_intent",
                  "on_behalf_of": null,
                  "payment_method": null,
                  "payment_method_options": {
                    "blik": {},
                    "card": {
                      "installments": null,
                      "mandate_options": null,
                      "network": null,
                      "request_three_d_secure": "automatic"
                    },
                    "p24": {}
                  },
                  "payment_method_types": [
                    "card",
                    "p24",
                    "blik"
                  ],
                  "processing": null,
                  "receipt_email": null,
                  "review": null,
                  "setup_future_usage": null,
                  "shipping": null,
                  "source": null,
                  "statement_descriptor": null,
                  "statement_descriptor_suffix": null,
                  "status": "requires_payment_method",
                  "transfer_data": null,
                  "transfer_group": null
                }
              ],
              "has_more": true,
              "object": "list",
              "url": "/v1/payment_intents"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      },
      {
        "_id": "8108664a6d1ee8bd888253fe03009a80",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "pii[id_number]=test"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 175,
            "text": {
              "client_ip": "185.244.96.54",
              "created": 1687179411,
              "id": "pii_1NKhdXEosEcNBN5mXTCE9Qy3",
              "livemode": false,
              "object": "token",
              "type": "pii",
              "used": false
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "02168db0-d169-49d4-9c4a-ec3ec666615f"
            },
            {
              "name": "original-request",
              "value": "req_K0BtfCHldFQaTM"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 261,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
