{
  "log": {
    "_recordingName": "stripe-api/validateStripeKeys/not throw error if both keys are correct",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ec8d411856c1281e6a0e958e7d84f2ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.stripe.com/v1/payment_intents?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1691,
            "text": {
              "data": [
                {
                  "amount": 22299,
                  "amount_capturable": 0,
                  "amount_details": {
                    "tip": {}
                  },
                  "amount_received": 0,
                  "application": null,
                  "application_fee_amount": null,
                  "automatic_payment_methods": null,
                  "canceled_at": null,
                  "cancellation_reason": null,
                  "capture_method": "manual",
                  "client_secret": "pi_3Nb2DUEosEcNBN5m1RDcids9_secret_nGYJU7XPjxuvQKwEf11M3EEAr",
                  "confirmation_method": "automatic",
                  "created": 1691071768,
                  "currency": "pln",
                  "customer": null,
                  "description": null,
                  "id": "pi_3Nb2DUEosEcNBN5m1RDcids9",
                  "invoice": null,
                  "last_payment_error": null,
                  "latest_charge": null,
                  "livemode": false,
                  "metadata": {
                    "channelId": "1",
                    "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                    "transactionId": "555555"
                  },
                  "next_action": null,
                  "object": "payment_intent",
                  "on_behalf_of": null,
                  "payment_method": null,
                  "payment_method_options": {
                    "card": {
                      "installments": null,
                      "mandate_options": null,
                      "network": null,
                      "request_three_d_secure": "automatic"
                    }
                  },
                  "payment_method_types": [
                    "card"
                  ],
                  "processing": null,
                  "receipt_email": null,
                  "review": null,
                  "setup_future_usage": null,
                  "shipping": null,
                  "source": null,
                  "statement_descriptor": null,
                  "statement_descriptor_suffix": null,
                  "status": "requires_payment_method",
                  "transfer_data": null,
                  "transfer_group": null
                }
              ],
              "has_more": true,
              "object": "list",
              "url": "/v1/payment_intents"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 270,
      },
      {
        "_id": "f46c278b8fad0fe02cff7afc17db0e2f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "pii[id_number]=test"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 175,
            "text": {
              "client_ip": "185.244.96.54",
              "created": 1691071769,
              "id": "pii_1Nb2DVEosEcNBN5mgVs98F7y",
              "livemode": false,
              "object": "token",
              "type": "pii",
              "used": false
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "25e08045-aebc-4f76-9c39-5e187129ac7d"
            },
            {
              "name": "original-request",
              "value": "req_ClbJ0AMffJ5fJz"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 251,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
