{
  "log": {
    "_recordingName": "TransactionInitializeSessionWebhookHandler/'Order'/'should work authorization'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "281bb97b265faf77f367bded45b0e4e6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "amount=22299&currency=PLN&automatic_payment_methods[enabled]=true&capture_method=manual&metadata[transactionId]=555555&metadata[channelId]=1&metadata[orderId]=c29tZS1jaGVja291dC1pZA%3D%3D"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1426,
            "text": {
              "amount": 22299,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "pi_3NNEN8EosEcNBN5m1sTVTnMz_secret_0tgJEiGFc7aNieO7htjJQq582",
              "confirmation_method": "automatic",
              "created": 1687781902,
              "currency": "pln",
              "customer": null,
              "description": null,
              "id": "pi_3NNEN8EosEcNBN5m1sTVTnMz",
              "invoice": null,
              "last_payment_error": null,
              "latest_charge": null,
              "livemode": false,
              "metadata": {
                "channelId": "1",
                "orderId": "c29tZS1jaGVja291dC1pZA==",
                "transactionId": "555555"
              },
              "next_action": null,
              "object": "payment_intent",
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "795f8cfc-f6e4-4d02-afec-08b285ed0925"
            },
            {
              "name": "original-request",
              "value": "req_kuTSFydfrmlFqF"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 323,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
