{
  "log": {
    "_recordingName": "API key utils/checkAdyenApiKey/checks if API key has access to Management API",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7153104c24c4b8525437dc6253c042b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 131,
            "text": {
              "detail": "Not allowed",
              "errorCode": "00_403",
              "status": 403,
              "title": "Forbidden",
              "type": "https://docs.adyen.com/errors/forbidden"
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "PDNJR3DQ2NPRMC82"
            },
            {
              "name": "requestid",
              "value": "PDNJR3DQ2NPRMC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 188,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
