{
  "log": {
    "_recordingName": "TransactionChargeRequestedWebhookHandler/'Mastercard' 'pm_card_mastercard'/should partially charge pre-authorized card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e832e0e9ad4807ac377f5e27c0fd1344",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-d0aee91b-5c13-4608-b7cc-03fc4e7da215"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&amount=22299&currency=PLN&capture_method=manual&metadata[transactionId]=555555&metadata[channelId]=1&metadata[checkoutId]=c29tZS1jaGVja291dC1pZA%3D%3D"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1695,
            "text": {
              "amount": 22299,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "never",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "pi_FAKE_CLIENT_SECRET",
              "confirmation_method": "automatic",
              "created": 1702477367,
              "currency": "pln",
              "customer": null,
              "description": null,
              "id": "pi_3OMtKlEosEcNBN5m1VFevvzS",
              "invoice": null,
              "last_payment_error": null,
              "latest_charge": null,
              "livemode": false,
              "metadata": {
                "channelId": "1",
                "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                "transactionId": "555555"
              },
              "next_action": null,
              "object": "payment_intent",
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_configuration_details": {
                "id": "pmc_1LVZxMEosEcNBN5manO2iTW7",
                "parent": null
              },
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "link": {
                  "persistent_token": null
                },
                "paypal": {
                  "preferred_locale": null,
                  "reference": null
                }
              },
              "payment_method_types": [
                "card",
                "link",
                "paypal"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-d0aee91b-5c13-4608-b7cc-03fc4e7da215"
            },
            {
              "name": "original-request",
              "value": "req_71THGp6RZL52GV"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 14309,
      },
      {
        "_id": "b50b341e67634bf256093a6f3f69b84b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-283f06b4-b4ff-4ae6-9541-0a8073cb2004"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "payment_method=pm_card_mastercard"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents/pi_3OMtKlEosEcNBN5m1VFevvzS/confirm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2461,
            "text": {
              "error": {
                "code": "payment_intent_unexpected_state",
                "doc_url": "https://stripe.com/docs/error-codes/payment-intent-unexpected-state",
                "message": "You cannot confirm this PaymentIntent because it has already succeeded after being previously confirmed.",
                "payment_intent": {
                  "amount": 22299,
                  "amount_capturable": 0,
                  "amount_details": {
                    "tip": {}
                  },
                  "amount_received": 4999,
                  "application": null,
                  "application_fee_amount": null,
                  "automatic_payment_methods": {
                    "allow_redirects": "never",
                    "enabled": true
                  },
                  "canceled_at": null,
      [...]
