{
  "log": {
    "_recordingName": "TransactionCancelationRequestedWebhookHandler/'American Express' 'pm_card_amex'/should cancel pre-authorized card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e832e0e9ad4807ac377f5e27c0fd1344",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-54ebe21d-d3f9-40ef-b389-8fee72ba37fe"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&amount=22299&currency=PLN&capture_method=manual&metadata[transactionId]=555555&metadata[channelId]=1&metadata[checkoutId]=c29tZS1jaGVja291dC1pZA%3D%3D"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1695,
            "text": {
              "amount": 22299,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "never",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "client_secret": "pi_FAKE_CLIENT_SECRET",
              "confirmation_method": "automatic",
              "created": 1702477365,
              "currency": "pln",
              "customer": null,
              "description": null,
              "id": "pi_3OMtKjEosEcNBN5m0IMpKdZI",
              "invoice": null,
              "last_payment_error": null,
              "latest_charge": null,
              "livemode": false,
              "metadata": {
                "channelId": "1",
                "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                "transactionId": "555555"
              },
              "next_action": null,
              "object": "payment_intent",
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_configuration_details": {
                "id": "pmc_1LVZxMEosEcNBN5manO2iTW7",
                "parent": null
              },
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "link": {
                  "persistent_token": null
                },
                "paypal": {
                  "preferred_locale": null,
                  "reference": null
                }
              },
              "payment_method_types": [
                "card",
                "link",
                "paypal"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-54ebe21d-d3f9-40ef-b389-8fee72ba37fe"
            },
            {
              "name": "original-request",
              "value": "req_wQMsaRdx3ch0Wm"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 10970,
      },
      {
        "_id": "09961e1cd5abe26724f68f52a532d4a9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "idempotency-key",
              "value": "stripe-node-retry-b7b7ace3-e56c-4d0e-96f2-a4658918ded1"
            },
            {
              "name": "stripe-version",
              "value": "2023-10-16"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "payment_method=pm_card_amex"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents/pi_3OMtKjEosEcNBN5m0IMpKdZI/confirm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2642,
            "text": {
              "error": {
                "code": "payment_intent_unexpected_state",
                "doc_url": "https://stripe.com/docs/error-codes/payment-intent-unexpected-state",
                "message": "This PaymentIntent's payment_method could not be updated because it has a status of canceled. You may only update the payment_method of a PaymentIntent with one of the following statuses: requires_payment_method, requires_confirmation, requires_action.",
                "param": "payment_method",
                "payment_intent": {
                  "amount": 22299,
                  "amount_capturable": 0,
                  "amount_details": {
                    "tip": {}
                  },
                  "amount_received": 0,
                  "application": null,
                  "application_fee_amount": null,
                  "automatic_payment_methods": {
                    "allow_redirects": "never",
                    "enabled": true
                  },
                  "canceled_at": 1702477367,
   [...]
