{
  "log": {
    "_recordingName": "API key utils/checkAdyenApiKey/checks if API key is valid",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7153104c24c4b8525437dc6253c042b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 114,
            "text": {
              "errorCode": "00_401",
              "status": 401,
              "title": "Unauthorized",
              "type": "https://docs.adyen.com/errors/unauthorized"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 269,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
