{
  "log": {
    "_recordingName": "TransactionInitializeSessionWebhookHandler/'Checkout'/'should work charge'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "42a237b9b421a956ecea5430c5bc7cec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "automatic_payment_methods[enabled]=true&amount=22299&currency=PLN&capture_method=automatic&metadata[transactionId]=555555&metadata[channelId]=1&metadata[checkoutId]=c29tZS1jaGVja291dC1pZA%3D%3D"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1486,
            "text": {
              "amount": 22299,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "client_secret": "pi_3NRH0XEosEcNBN5m00zBjJky_secret_pTeIfJfJ2H6AZzqTSI2hpIzFc",
              "confirmation_method": "automatic",
              "created": 1688745345,
              "currency": "pln",
              "customer": null,
              "description": null,
              "id": "pi_3NRH0XEosEcNBN5m00zBjJky",
              "invoice": null,
              "last_payment_error": null,
              "latest_charge": null,
              "livemode": false,
              "metadata": {
                "channelId": "1",
                "checkoutId": "c29tZS1jaGVja291dC1pZA==",
                "transactionId": "555555"
              },
              "next_action": null,
              "object": "payment_intent",
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "blik": {},
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "p24": {}
              },
              "payment_method_types": [
                "card",
                "p24",
                "blik"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "560f87d5-0e68-4c41-be29-942efe994dc2"
            },
            {
              "name": "original-request",
              "value": "req_TmSTrgyFMIh8Z8"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 448,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
