{
  "log": {
    "_recordingName": "API key utils/checkAdyenApiKey/checks if API key has all required roles",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7153104c24c4b8525437dc6253c042b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 528,
            "text": {
              "_links": {
                "allowedOrigins": {
                  "href": "https://management-test.adyen.com/v1/me/allowedOrigins"
                },
                "self": {
                  "href": "https://management-test.adyen.com/v1/me"
                }
              },
              "active": true,
              "allowedIpAddresses": [],
              "companyName": "Saleor",
              "description": "Adyen App tests - Insufficient roles enabled",
              "id": "S2-3C473F5C7B4850",
              "roles": [
                "Checkout encrypted cardholder data",
                "Merchant Recurring role",
                "Checkout webservice role",
                "Management API - API credentials read and write",
                "Merchant PAL Webservice role"
              ],
              "username": "ws_124809@Company.Saleor"
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "TBRNLCZHH8JSTC82"
            },
            {
              "name": "requestid",
              "value": "TBRNLCZHH8JSTC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
