{
  "log": {
    "_recordingName": "TransactionProcessSessionWebhookHandler/'Order'/'should work charge'",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "58d7108051369da482f73570b59f57d4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "automatic_payment_methods[enabled]=true&amount=22299&currency=PLN&capture_method=automatic&metadata[transactionId]=555555&metadata[channelId]=1&metadata[orderId]=c29tZS1jaGVja291dC1pZA%3D%3D"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/payment_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1483,
            "text": {
              "amount": 22299,
              "amount_capturable": 0,
              "amount_details": {
                "tip": {}
              },
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "automatic_payment_methods": {
                "allow_redirects": "always",
                "enabled": true
              },
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "automatic",
              "confirmation_method": "automatic",
              "created": 1689004209,
              "currency": "pln",
              "customer": null,
              "description": null,
              "id": "pi_3NSMLlEosEcNBN5m1P5FFB6X",
              "invoice": null,
              "last_payment_error": null,
              "latest_charge": null,
              "livemode": false,
              "metadata": {
                "channelId": "1",
                "orderId": "c29tZS1jaGVja291dC1pZA==",
                "transactionId": "555555"
              },
              "next_action": null,
              "object": "payment_intent",
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "blik": {},
                "card": {
                  "installments": null,
                  "mandate_options": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                },
                "p24": {}
              },
              "payment_method_types": [
                "card",
                "p24",
                "blik"
              ],
              "processing": null,
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "c11daa69-7035-4fc3-b68e-e188c5abc085"
            },
            {
              "name": "original-request",
              "value": "req_1LrsB1B9CchRhZ"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352,
      },
      {
        "_id": "1876ffacd3d13945a9aab57a20117b43",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "stripe-version",
              "value": "2022-11-15"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
[...]
