{
  "log": {
    "_recordingName": "API key utils/checkAdyenApiKey/checks if API key is comapny scope",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7153104c24c4b8525437dc6253c042b3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/me"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1151,
            "text": {
              "_links": {
                "allowedOrigins": {
                  "href": "https://management-test.adyen.com/v1/me/allowedOrigins"
                },
                "self": {
                  "href": "https://management-test.adyen.com/v1/me"
                }
              },
              "active": true,
              "allowedIpAddresses": [],
              "allowedOrigins": [
                {
                  "_links": {
                    "self": {
                      "href": "https://management-test.adyen.com/v1/me/allowedOrigins/S2-223756392723474C78434C2764227426526F6347343A3A3126396A2263"
                    }
                  },
                  "domain": "http://localhost:3000",
                  "id": "S2-223756392723474C78434C2764227426526F6347343A3A3126396A2263"
                }
              ],
              "clientKey": "test_XWQQ2EI2SJHK7AKAAOGIDHTE4Q2K7PX7",
              "companyName": "Saleor",
              "description": "Adyen App - Company Test",
              "id": "S2-7E78722471762E",
              "roles": [
                "Management API - Accounts read",
                "Management API - Webhooks read",
                "Management API - API credentials read and write",
                "Management API - Stores read",
                "Management API — Payment methods read",
                "Management API - Stores read and write",
                "Management API - Webhooks read and write",
                "Checkout encrypted cardholder data",
                "Merchant Recurring role",
                "Management API - Payout Account Settings Read",
                "Checkout webservice role",
                "Management API - Accounts read and write",
                "Merchant PAL Webservice role"
              ],
              "username": "ws_978780@Company.Saleor"
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "FCRNLCZHH8JSTC82"
            },
            {
              "name": "requestid",
              "value": "FCRNLCZHH8JSTC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      },
      {
        "_id": "b4ea6c4349e773d95f78e2bcdd4bb961",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "adyen-library-name",
              "value": "adyen-node-api-library"
            },
            {
              "name": "adyen-library-version",
              "value": "13.1.3"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7E78722471762E"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 1672,
            "text": {
              "_links": {
                "allowedOrigins": {
                  "href": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7E78722471762E/allowedOrigins"
                },
                "company": {
                  "href": "https://management-test.adyen.com/v1/companies/Saleor"
                },
                "generateApiKey": {
                  "href": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7E78722471762E/generateApiKey"
                },
                "generateClientKey": {
                  "href": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7E78722471762E/generateClientKey"
                },
                "self": {
                  "href": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7E78722471762E"
                }
              },
              "active": true,
              "allowedIpAddresses": [],
              "allowedOrigins": [
                {
                  "_links": {
                    "self": {
                      "href": "https://management-test.adyen.com/v1/companies/Saleor/apiCredentials/S2-7E78722471762E/allowedOrigins/S2-223756392723474C78434C2764227426526F6347343A3A3126396A2263"
                    }
                  },
                  "domain": "http://localhost:3000",
                  "id": "S2-223756392723474C78434C2764227426526F6347343A3A3126396A2263"
                }
              ],
              "associatedMerchantAccounts": [],
              "clientKey": "test_XWQQ2EI2SJHK7AKAAOGIDHTE4Q2K7PX7",
              "description": "Adyen App - Company Test",
              "id": "S2-7E78722471762E",
              "roles": [
                "Management API - Accounts read",
                "Management API - Webhooks read",
                "Management API - API credentials read and write",
                "Management API - Stores read",
                "Management API — Payment methods read",
                "Management API - Stores read and write",
                "Management API - Webhooks read and write",
                "Checkout encrypted cardholder data",
                "Merchant Recurring role",
                "Management API - Payout Account Settings Read",
                "Checkout webservice role",
                "Management API - Accounts read and write",
                "Merchant PAL Webservice role"
              ],
              "username": "ws_978780@Company.Saleor"
            }
          },
          "headers": [
            {
              "name": "pspreference",
              "value": "KZ2RR3DQ2NPRMC82"
            },
            {
              "name": "requestid",
              "value": "KZ2RR3DQ2NPRMC82"
            },
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
